<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="GroupElementsSection" type="ABTTestLibrary.AppConfig.GroupElementsSection, ABTTestLibrary" />
		<section name="TestElementsSection" type="ABTTestLibrary.AppConfig.TestElementsSection, ABTTestLibrary" />
	</configSections>
	<appSettings>
		<!-- App.-->
		<!-- Standard ABTTestLibApp configuration settings, specific to the test application.-->
		<add key="APP_Revision" value="1.0" />
		<add key="APP_TestEventsEnabled" value="true" />
		<!-- See https://github.com/Amphenol-Borisch-Technologies/TestEvents -->
		<!-- Standard ABTTestLibApp Logger configuation settings, specific to the Logger sub-system.-->
		<add key="LOGGER_FileEnabled" value="true" />
		<!-- LOGGER_FileEnabled & LOGGER_SQLEnabled are independent of each other. -->
		<!-- Can choose to Log to Text only, SQL only, both Text & SQL or neither, depending what the Customer requires. -->
		<add key="LOGGER_FilePath" value="P:\Test\TDR\D4522137\Functional\" />
		<!-- Text Log Paths are only relevant if LOGGER_FileEnabled is true. -->
		<add key="LOGGER_SQLEnabled" value="false" />
		<!-- LOGGER_FileEnabled & LOGGER_SQLEnabled are independent of each other. -->
		<!-- Can choose to Log to Text only, SQL only, both Text & SQL or neither, depending what the Customer requires. -->
		<add key="LOGGER_SQLConnectionString" value="" />
		<!--  SQL connection string only relevant if LOGGER_SQLEnabled is true. -->
		<!-- Standard ABTTestLibApp UUT configuration settings, specific to the Unit Under Test. -->
		<add key="UUT_Customer" value="Raytheon" />
		<add key="UUT_Type" value="CCA" />
		<!-- System, Unit, Sub-Unit, CCA, Component, etc. -->
		<add key="UUT_Number" value="D4522137-2" />
		<add key="UUT_Revision" value="A" />
		<add key="UUT_Description" value="isoMicro" />
		<add key="UUT_TestSpecification" value="0001624557, Draft A" />
		<!-- Custom configuration settings specific to this APP, LOG or UUT, and not provided by their standard configurations from ABTTestLibrary. -->
		<!-- These settings should be initialized in a local library specific to the test program/application. -->
		<add key="CUSTOM_SMBusAddress" value="40" />
		<!-- System Management Bus device address, in hexadecimal format. -->
	</appSettings>
	<GroupElementsSection>
		<!--				
			Name			:	Status		:	.Net Type		:	Purpose											Notes(s)
			=============   :	=========   :	=============   :   ====================================		:	==========================================================
			ID				:	Required	:	System.String	:	Unique Identifier							:   Unique Identifier; no 2 can be identical, ID is key in a Dictionary object.
																													Must be also be a valid C# identifier; see 
																													https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/identifier-names.
																													Suggest T10, T20, T30, T40... ABT FilePro Traveler Test Operations.
																													Recommend alpha-numerically ordering to avoid duplications,
																													which throw Exceptions.
			Required		:	Required	:	System.Boolean	:	Does Customer require running this Group?	:	Enables Groups of Tests useful for troubleshooting UUTs
																											`		to also be run by test operator.  Non-required Groups
																													however will not create valid test data nor report overall
																													UUT results, just Group results.
																													Multiple Groups can be required, if there are multiple
																													FilePro Test Operations; T10, TT20, T30...
																													Recommend ordering all Required Groups by Test Operation,
																													then non-Required as desired.
																													Order of Group appearance in this App.config determines order of
																													appearance when selecting Groups in GroupSelection ListView.
			Summary			:	Required	:	System.String	:	Concise description of Group				:	PowerUp performs all power application tests.
			Detail			:	Optional	:	System.String	:	Optional verbose description of Group		:	PowerUp:
																													- Apply/measure +28V.
																													- Apply/measure +5V.
																													- Apply/measure +3.3V.
																													- Measure derived ±12.0V
																													- Measure derived +2.5V
																													- Measure derived +1.8V
																													- Measure derived +1.2V
			TestIDs			:	Required	:	System.String	:	Tests in Group, in order of execution		:	1 or more TestIDs from TestElements, separated by '|'.
		-->
		<!--ABT Test Operations to Raytheon 0001624557 Test Paragraphs:
			T10: 5.1 SSTO Flying Probe, P00010.
			T20: 5.2 Inductance Check, P00050.
			T30: 5.3 Initial Power Up, P00100 - P00200.
				  5.4 UUT Programming, P00300 - P00600.
				  5.5 Initial Configuration, P00700 - P00750.
				  5.6 Power Stage Health Check, P00800 - P10200.
			T50: 6.0 Calibration & Final Test, P10300 - P11800.
		-->
		<GroupElements>
			<GroupElement ID="T30" Required="true" Summary="PreMold" Detail="5.3 Initial Power Up, P00100 - P00200.&#xD;&#xA;5.4 UUT Programming, P00300 - P00600.&#xD;&#xA;5.5 Initial Configuration, P00700 - P00750.&#xD;&#xA;5.6 Power Stage Health Check, P00800 - P10200." TestIDs="P00100|P00101" />
			<GroupElement ID="T50" Required="true" Summary="PostMold" Detail="6.0 Calibration &amp; Final Test, P10300 - P11800." TestIDs="P10300|P10301" />
		</GroupElements>
	</GroupElementsSection>
	<TestElementsSection>
		<!--				
			Name			:	Status		:	.Net Type		:	Purpose										Notes(s)
			=============   :	=========   :	=============   :   ====================================	:	==========================================================
			ID				:	Required	:	System.String	:	Unique Identifier						:	Unique Identifier; no 2 can be identical, ID is key in a Dictionary object.
																												P00100, P00200, P00300...
																												Must be also be a valid C# identifier; see 
																												https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/identifier-names.
			Summary			:	Required	:	System.String	:	Concise description of Test				:	Apply/measure +5V DC Input Voltage pre-programming.
			Detail			:	Optional	:	System.String	:	Optional verbose description of Test	:	Apply +5V DC Voltage from +Vcc to GND.
																												- Limit current to 0.75 Amps.
																												- Measure voltage after 2.0 seconds delay.
																												- Perform test before U6 µController and U7
																												  EEPROM are programmed.
			LimitLow		:	Optional	:	System.String	:	Test's low limit						:	5.25, for 5.0VDC with +5% tolerance
			LimitHigh		:	Optional	:	System.String	:	Test's high limit						:	4.75, for 5.0VDC with -5% tolerance
			Units			:	Optional	:	System.String	:	SI Base/Derived Units + Metric Prefixes	:	mA (milli Amps), µV (micro Volts), etc.
		-->
		<!-- Use character '|' to separate GroupsToTestsElement IDTests. -->
		<!-- Thus TestElement IDs cannot contain character '|' in them. -->
		<!-- OK: ID="Test_001 -->
		<!-- Not OK: ID="Test|001" -->
		<TestElements>
			<TestElement ID="P00100" Summary="V" Detail="Initial Power, Volts" LimitLow="6.2" LimitHigh="6.3" Units="Volts" />
			<TestElement ID="P00101" Summary="A" Detail="Initial Power, Volts" LimitLow="0.0" LimitHigh="1.0" Units="Amps" />
			<TestElement ID="P10300" Summary="V" Detail="Initial Power, Volts" LimitLow="6.2" LimitHigh="6.3" Units="Volts" />
			<TestElement ID="P10301" Summary="A" Detail="Initial Power, Volts" LimitLow="0.0" LimitHigh="1.0" Units="Amps" />
			<!--
		    Project ABTTestLibraryTests, class TestSupportTests, method EvaluateTestResultTest:
			Invalid Tests:
		    - LimitLow = LimitHigh = String.Empty.
            - LimitLow = String.Empty,	LimitHigh ≠ String.Empty, but won't parse to Double.
            - LimitHigh = String.Empty, LimitLow  ≠ String.Empty, but won't parse to Double.
            - LimitLow ≠ String.Empty,	LimitHigh ≠ String.Empty, neither parse to Double, & LimitLow ≠ LimitHigh.

		    Valid Tests:
			- LimitLow & LimitHigh both parse to Doubles; both low & high limits.
			- LimitLow is allowed to be > LimitHigh if both parse to Double.
			  This simply excludes a range of measurements from passing, rather than including a range from passing.
			- LimitLow is allowed to be = LimitHigh if both parse to Double.
			  This simply means only one measurement passes.
			- LimitLow parses to Double, LimitHigh = String.Empty; only low limit, no high.
			- LimitLow = String.Empty, LimitHigh parses to Double; no low limit, only high.
			- LimitLow = LimitHigh, both ≠ String.Empty, and neither parse to Double.
			  This is to verify checksums or CRCs, or to read String contents from memory, or from a file, etc.
		-->
		</TestElements>
	</TestElementsSection>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.48.1.0" newVersion="4.48.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.26.0.0" newVersion="1.26.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.25.0.0" newVersion="2.25.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.3.1" newVersion="5.11.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ivi.Driver" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>