<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GroupElementsSection" type="ABTTestLibrary.AppConfig.GroupElementsSection, ABTTestLibrary" />
    <section name="TestElementsSection" type="ABTTestLibrary.AppConfig.TestElementsSection, ABTTestLibrary" />
  </configSections>
  <appSettings>
    <!-- App.-->
    <!-- Standard ABTTestLibApp configuration settings, specific to the test application.-->
    <add key="APP_Revision" value="1.0" />
    <add key="APP_TestEventsEnabled" value="true" />
    <!-- See https://github.com/Amphenol-Borisch-Technologies/TestEvents -->
    <!-- Standard ABTTestLibApp Logger configuation settings, specific to the Logger sub-system.-->
    <add key="LOGGER_FileEnabled" value="true" />
    <!-- LOGGER_FileEnabled & LOGGER_SQLEnabled are independent of each other. -->
    <!-- Can choose to Log to Text only, SQL only, both Text & SQL or neither, depending what the Customer requires. -->
    <add key="LOGGER_FilePath" value="LOGGER_FilePath" />
    <!-- Text Log Paths are only relevant if LOGGER_FileEnabled is true. -->
    <add key="LOGGER_SQLEnabled" value="false" />
    <!-- LOGGER_FileEnabled & LOGGER_SQLEnabled are independent of each other. -->
    <!-- Can choose to Log to Text only, SQL only, both Text & SQL or neither, depending what the Customer requires. -->
    <add key="LOGGER_SQLConnectionString" value="" />
    <!--  SQL connection string only relevant if LOGGER_SQLEnabled is true. -->
    <!-- Standard ABTTestLibApp UUT configuration settings, specific to the Unit Under Test. -->
    <add key="UUT_Customer" value="UUT_Customer" />
    <add key="UUT_Type" value="UUT_Type" />
	  <!-- Reccommended choices: { System, Unit, CCA, Component }. -->
    <add key="UUT_Number" value="UUT_Number" />
    <add key="UUT_Revision" value="UUT_Revision" />
    <add key="UUT_Description" value="UUT_Description" />
    <add key="UUT_TestSpecification" value="UUT_TestSpecification" />
    <!-- Custom configuration settings specific to this APP, LOG or UUT, and not provided by their standard configurations from ABTTestLibrary. -->
    <!-- These settings should be initialized in a local library specific to the test program/application. -->
    <add key="CUSTOM_SMBusAddress" value="40" />
    <!-- System Management Bus device address, in hexadecimal format. -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <GroupElementsSection>
	  <!--				
			Name			:	Status		:	.Net Type		:	Purpose											Notes(s)
			=============   :	=========   :	=============   :   ====================================		:	==========================================================
			ID				:	Required	:	System.String	:	Unique Identifier							:   Unique Identifier; no 2 can be identical, ID is key in a Dictionary object.
																													- Suggest T10, T20, T30, T40... ABT FilePro Traveler Test Operations.
			Required		:	Required	:	System.Boolean	:	Does Customer require running this Group?	:	If Required = true, it's a Group of Tests the UUT's customer requires
																													be executed & pass in order to ship the UUT.
																													- Required Groups generally correspond to FilePro Traveler
																													  operations; T10, T20, T30...
																													- If Required = false, Group is a custom subset of Tests
																													  solely useful for troubleshooting UUTs that don't pass
																													  their Required Groups.
																													- Non-required Groups don't create valid test data nor report
																													  overall UUT results, just their custom Group results.
																													- Multiple Groups can be required, if there are multiple
																													  FilePro Test Operations; T10, T20, T30...
																													- Recommend ordering all Required Groups by Test Operation,
																													  then non-Required as desired.
																													- Order of Group appearance in this App.config determines order of
																													  appearance when selecting Groups in GroupSelection ListView,
																													  so optimally order them in the sequence they're performed;
																													  (T10, T20, T30...)
			Summary			:	Required	:	System.String	:	Concise description of Group				:	PowerUp performs all power application/measurement tests.
			Detail			:	Optional	:	System.String	:	Optional verbose description of Group		:	PowerUp:
																													- Apply/measure +28.0 VDC.
																													- Apply/measure +5.0 VDC.
																													- Apply/measure +3.3 VDC.
																													- Measure derived ±12.0 VDC
																													- Measure derived +2.5 VDC
																													- Measure derived +1.8 VDC
																													- Measure derived +1.2 VDC
			TestIDs			:	Required	:	System.String	:	Tests in Group, *in order of execution*		:	1 or more TestIDs from TestElements, separated by '|'.
																													- Tests execute in *entry order*:
																													  - Entry "T3|T1|T2" executed in sequence (T3, T1, T2).
																													  - Entry "T1|T2|T3" executed in sequence (T1, T2, T3).
																													  - Entry "T2|T3|T1" executed in sequence (T2, T3, T1).
		-->
    <GroupElements>
      <GroupElement ID="T30" Required="true" Summary="T30" Detail="Initial Test, Pre-Bonding, Coating &amp; ESS." TestIDs="T001|T002|T003|T004|T005" />
      <GroupElement ID="T50" Required="true" Summary="T50" Detail="Final Test PostBonding, Coating &amp; ESS."    TestIDs="T001|T002|T003|T004|T005" />
    </GroupElements>
  </GroupElementsSection>
  <TestElementsSection>
	  <!--				
			Name			:	Status		:	.Net Type		:	Purpose										Notes/Examples
			=============   :	=========   :	=============   :   ====================================	:	==========================================================
			ID				:	Required	:	System.String	:	Unique Identifier						:	Unique Identifier; no 2 can be identical, ID is key in a Dictionary object.
																												- Test001, Test002, Test003...
																												- *Must* also be a valid C# identifier; see 
																												  https://learn.microsoft.com/en-us/dotnet/csharp/fundamentals/coding-style/identifier-names.
																												- Recommend alpha-numerically ordering to avoid duplications,
																												  which throw Exceptions.
																												- Can be ordered as desired though; test execution order
																												  *solely* determined by GroupElement TestIDs test ordering.
																												- Cannot contain | character.
																												  - Using character '|' to separate GroupsToTestsElement IDTests.
																												  - Thus TestElement IDs cannot contain character '|' in them.
																												  - ID="Test001 valid.
																												  - ID="Test|001" invalid
			Summary			:	Required	:	System.String	:	Concise description of Test				:	Apply/measure +5V DC Input Voltage pre-programming.
			Detail			:	Optional	:	System.String	:	Optional verbose description of Test	:	Apply +5V DC Voltage from +Vcc to GND.
																												- Limit current to 0.75 Amps.
																												- Measure voltage after 2.0 seconds delay.
																												- Perform test before U6 µController and U7 EEPROM are programmed.
			LimitLow		:	Optional,	:	System.String	:	Test's low limit						:	4.75, for 5.0VDC with -5% tolerance
								with caveats;																	- Parsed as Double.TryParse(LimitLow, NumberStyles.Float, CultureInfo.CurrentCulture, out dMeasurement);
								see Invalid &																	- https://learn.microsoft.com/en-us/dotnet/api/system.double.tryparse?view=net-7.0#system-double-tryparse(system-string-system-globalization-numberstyles-system-iformatprovider-system-double
								Valid Tests																		- https://learn.microsoft.com/en-us/dotnet/api/system.globalization.numberstyles?view=net-7.0#system-globalization-numberstyles-float
								below.																			- Scientific Notation allowed & encouraged:
																												  - 1.0E5 is valid instead of 100000.0.
																												  - 1.5E-5 is valid instead of 0.000015.
																												- Postive/Negative +/- signs allowed in both exponent & significand:
																												  +1.0E+5 is valid for +100000.0.
																												   - Reccommend 1.0E5 though.
																												  -1.0E5 is valid for -1000000.0.
																												  1.5E-5 is valid for 0.000015.
																												  -1.5E-5 is valid for -0.000015.
																												- Int32 & Double both allowed:
																												  - 100000 & 100000.0 both valid.
																												- Commas not allowed:
																												  - 100000 & 1000000 both valid.
																												  - 100,000 & 1,000,000 both invalid.
																												  - Recommend 1E5 and 1E6 instead.
			LimitHigh		:	Optional,	:	System.String	:	Test's high limit						:	5.25, for 5.0VDC with +5% tolerance
								with caveats;																	- Parsed identically as LimitLow.
								see Invalid &	
								Valid Tests		
								below.																															
			Units			:	Optional	:	System.String	:	SI Base & Derived Units					:	A, V, F, H, Ω, S, °C, s, Hz, W, VA for respectively
																												amperes, volts, farads, henries, ohms, siemens,
																												°Celcius, seconds, hertz, watts, volt-amperes.
																												https://en.wikipedia.org/wiki/SI_base_unit
																												https://en.wikipedia.org/wiki/SI_derived_unit
																												- Optionally "" or "N/A", when Units = Not Applicable: 
																												- NOTE: do not use Metric prefixes:																												- Do not use Metric Prefixes!
																												  - That is, do not use micro, milli, kilo, mega, etc.
																												    or their μ, m, k, M, etc. symbols either.
																												  - Instead, always normalize LimitLow & LimitHigh to
																												    unitary SI Units without prefixes.
																													- 10000 Ω is valid.
																													- 10 kiloΩ or 10 kΩ invalid.
																												- NOTE: Units are purely cosmetic in function; they aren't used
																												  to calculate Test PASS/FAIL results as LimitLow & LimitHigh are,
																												  only for reporting what Units their Test's measured values are in.
			UnitType		:	Optional	:	System.String	:											:	AC, DC, Peak, PP, RMS respectively for Alternating Current,
																												Direct Current, Peak, Peak-to-Peak, Root-Mean-Squared.
																											    - NOTE: UnitTypes are purely cosmetic in function; they aren't used
																												  to calculate Test PASS/FAIL results as LimitLow & LimitHigh are,
																												  only for reporting metadata about the Units the tests measured
																												  values are in.

			Invalid Tests:
			- LimitLow = LimitHigh = String.Empty.
			- LimitLow = String.Empty,	LimitHigh ≠ String.Empty, but won't parse to Double.
			- LimitHigh = String.Empty, LimitLow  ≠ String.Empty, but won't parse to Double.
			- LimitLow ≠ String.Empty,	LimitHigh ≠ String.Empty, neither parse to Double, & LimitLow ≠ LimitHigh.

			Valid Tests:
			- LimitLow < LimitHigh & both parse to Double:
			  - Typical low & high limits, including a range of passing numeric measurements.
			- LimitLow > LimitHigh & both parse to Double:
			  - Atypical low & high limits, excluding a range of measurements from passing..
			  - Could test if a digital voltage is an acceptable TTL signal; LimitLow = 2.0, LimitHigh = 0.8
			    will pass if a digital voltage is not in the undefined TTL range of 0.8 to 2.0 VDC.
			  - You'd also want additional tests to confirm the voltage was ≥ 0 and ≤ 5.0 though.
			  - See "CUSTOM" Limits below.
			- LimitLow = LimitHigh & both parse to Double:
			  - This simply means only the specific exact measurement passes.
			  - *Not recommended* due to potential roundoff when parsing String Limits & instrument measurement inaccuracies.
			  - Most (all) real-world measurements require non-zero tolerances.
			- LimitLow parses to Double, LimitHigh = String.Empty:
			 - Only low limit, no high.
			  - HiPot passes if ≥ 1E6 Ω.
			- LimitLow = String.Empty, LimitHigh parses to Double:
			  - No low limit, only high.
			  - Continuities pass if ≤ 5 Ω.
			- LimitLow = LimitHigh, both ≠ String.Empty, & neither parse to Double:
			  - This is to verify specific checksums or CRCs, or to read specific non-numeric String contents from memory or a file, parse operator input, etc.
			- LimitLow = LimitHigh = "CUSTOM":
			  - If multiple permissable results are required, say any String in the set {"Alpha", "Beta", "Gamma", "Delta", "Epsilon"} must pass:
			  - Or multiple numeric ranges required, say any TTL Voltage V where (0 ≤ V ≤ 0.8) && (2.0 ≤ V ≤ 5.0):
				- Set both LimitLow & LimitHigh to "CUSTOM".
				- Write custom code in your Test method to evaluate the Test's measurement:
				  - If in the set {"Alpha", "Beta", "Gamma", "Delta", "Epsilon"}
				  - Or (0 ≤ V ≤ 0.8) && (2.0 ≤ V ≤ 5.0)
				  - Then return EventCodes.PASS from your method, else return EventCodes.FAIL.
				  - Or return any valid EventCode as applicable; e.g. EventCodes.ABORT, EventCodes.ERROR or EventCodes.UNSET.
			  - Finally, write custom code in your Test method to log the results in detail directly, using Serilog's Log.Information() method
				rather than ABTTestLibrary's default LogTasks.LogTest() method invoked from its Run() method.
			  - Permits multiple measurements or operations to be performed & logged in a single Test, but with a *single* overall result.
			    - Tradeoff is LimitLow/LimitHigh aren't defined or modifiable from this App.config file, only defined/modifiable in the Test's method.
		-->
    <TestElements>
        <TestElement ID="T001" Summary="V28"  Detail="V28 to GND, applied."  LimitLow="25.2" LimitHigh="30.8" Units="V" UnitType="DC" />
        <TestElement ID="T002" Summary="V5"   Detail="V5 to GND, derived."   LimitLow="4.5"  LimitHigh="5.55" Units="V" UnitType="DC" />
        <TestElement ID="T003" Summary="V3_3" Detail="V3_3 to GND, derived." LimitLow="2.97" LimitHigh="3.63" Units="V" UnitType="DC" />
        <TestElement ID="T004" Summary="V2_5" Detail="V2_5 to GND, derived." LimitLow="2.25" LimitHigh="2.75" Units="V" UnitType="DC" />
        <TestElement ID="T005" Summary="Pass/Fail" Detail="Operator confirmed bootup &amp; 'Happy Lights'." LimitLow="CUSTOM" LimitHigh="CUSTOM" Units="N/A" UnitType="N/A" />
	<!-- Voltage limits ±10% of nominal. -->	
    </TestElements>
  </TestElementsSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.48.1.0" newVersion="4.48.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.26.0.0" newVersion="1.26.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.25.1.0" newVersion="6.25.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.25.0.0" newVersion="2.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.3.1" newVersion="5.11.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Driver" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>